<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Class</key>
		<string>CRMeidaAddController</string>
		<key>Name</key>
		<string>添加媒体</string>
	</dict>
	<dict>
		<key>Class</key>
		<string>CRSecondWindowController</string>
		<key>Name</key>
		<string>展示window</string>
	</dict>
    <dict>
        <key>Class</key>
        <string>CRSystemButtonController</string>
        <key>Name</key>
        <string>button样式</string>
    </dict>
    <dict>
        <key>Class</key>
        <string>CRAlertTestController</string>
        <key>Name</key>
        <string>AlertControl测试</string>
    </dict>
</array>
</plist>
